{
    "devplatformApp": {
    	"detailTitle":"详情页面",
    	"${formatEntityName}":{
           "title": "编辑${entityName}",
#foreach ($entity in $javaEntityList)
#set($name ="$entity.name")
#set($code ="$entity.code")
#set($formatterCode ="$entity.formatterCode")
#if($velocityCount != 1),
#end 
"$code": "$name"
#end 
        }
    }
}
