




















#set($dateCount = 0)
#set($state = "$state")
#set($go = ".go")
(function() {
    'use strict';
    angular
        .module('devplatformApp')
        .controller('${entityName}DetailController', ${entityName}DetailController);

    ${entityName}DetailController.$inject = ['${entityName}Service', '$scope', '$stateParams','$state', 'ngDialog', '$timeout', 'PublicService','$uibModalInstance'];


    function ${entityName}DetailController(${entityName}Service, $scope, $stateParams, $state, ngDialog, $timeout, PublicService,$uibModalInstance) {
		$scope.datePickerOpenStatus = {};
        if ($stateParams.id) {
            ${entityName}Service.get${entityName}($stateParams.id).then(function (response) {
				if(response.statusCode === "0000"){
					$scope.${formatEntityName} = response.data;
#foreach ($entity in $detailField)
	#set($code ="$entity.code")
	#set($type ="$entity.componentType")
#if(${type}=="date")
					$scope.${formatEntityName}.${code} = dateToGMT(response.data.${code});	
#end
#end
				}
            });
        }
#if(${hrefMethod}=="openWindow") 
   $scope.clear = function() {
        $uibModalInstance.dismiss('cancel');
       $state$go('app.${formatEntityName}');
    };
#end
    };
})();