{
    "devplatformApp": {
    	"detailTitle":"Detail",
       "${formatEntityName}" : {
              "title": "Edit ${entityName}",
#foreach ($entity in $javaEntityList)
#set($code ="$entity.code")
#set($formatterCode ="$entity.formatterCode")
#if($velocityCount != 1),
#end 
"$code": "$formatterCode"
#end 
        }
    }
}
