<div class="panel ng-scope save-panel" ng-controller="${entityName}EditController">
	<form class="form-horizontal form-inline" role="form" ng-submit="save()" verify-scope>
        <div class="modal-header">
           <h4 class="modal-title" data-translate="detail.title">编辑页面</h4>
        </div>
        <div class="modal-body">         
#foreach ($entity in $saveField)
#set($name ="$entity.name")
#set($code ="$entity.code")
#set($type ="$entity.componentType")
##分别判断控件类型
#if(${type}=="date")
					<div class="col-sm-12 col-info">
						<div class="form-group m-n">
				            <label class="control-label" data-translate="<%= translationKey %>">${name}"></label>
							<div class="input-group input-group-time input-group-time2">
				                <input readonly="readonly" type="text" name="${code}" required="required"
				                		datetime-picker="{{dateformat}}" ng-model="${formatEntityName}.${code}" is-open="datePickerOpenStatus.${code}"/>
				                <span class="input-group-btn">
				                      <button type="button" class="btn btn-default" ng-click="openCalendar('${code}')"><i class="glyphicon glyphicon-calendar"></i></button> 
								</span> 
							</div>								            
						</div>
					 </div>
#elseif(${type}=="select")
					<div class="form-group m-n">
							<label class="control-label">${name}</label>
							   <div class="padder inline input-group more-selects" >
									  <select class="selectUserAccount" ng-model="${formatEntityName}.${code}">
									  	  <option>${name}值1</option>
									  	  <option>${name}值2</option>
									  	  <option>${name}值3</option>
									</select>
		                        </div>
						</div>	
#else
                    <div class="col-sm-12 col-info">
						<div class="form-group m-n">
                            <label class="control-label" data-translate="<%= translationKey %>">${name}</label>
							<input type="text" class="form-control" ng-model="${formatEntityName}.${code}" />
                        </div>                
                    </div>
   	 #end		
#end
		</div>
		<div class="modal-footer">
			<button type="button" ui-sref="app.${formatEntityName}" class="btn btn-danger">
				<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
			</button>
			<button type="submit" ng-verify class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
			</button>
		 </div>
	</form>
</div>
