

(function() {
    'use strict';
    angular
        .module('devplatformApp')
        .factory('${entityName}Service', ${entityName}Service);

    ${entityName}Service.$inject = ['globalConstant', 'utilService'];

    function ${entityName}Service (globalConstant, utilService) {
        function get${entityName}(params) {
            return utilService.requestGet(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/get${entityName}/', params);
        }
        function update${entityName}(params) {
            return utilService.requestPut(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/update${entityName}', params);
        }
        function save${entityName}(params) {
            return utilService.requestPost(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/create${entityName}', params);
        }
        function delete${entityName}(params) {
            return utilService.requestDelete(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/delete${entityName}/', params);
        }
		function batchDelete${entityName}(params) {
            return utilService.requestPost(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/batchDelete${entityName}', params);
        }
		function list${entityName}(params) {
            return utilService.requestPost(globalConstant.devplatform_web_apiPath + 'api/${formatEntityName}/list${entityName}', params);
        }
        var service = {
            "get${entityName}":get${entityName},
            "update${entityName}":update${entityName},
            "save${entityName}":save${entityName},
            "delete${entityName}":delete${entityName},
			"batchDelete${entityName}":batchDelete${entityName},
			"list${entityName}":list${entityName}
        };
        return service;
    }
})();