





















#set($ocLazyLoad = "$ocLazyLoad")
#set($load = ".load")
#set($translatePartialLoader = "$translatePartialLoader")
#set($addPart = ".addPart")
#set($uibModal = "$uibModal")
#set($open = ".open")

(function() {
    'use strict';
    angular
        .module('devplatformApp')
        .config(stateConfig);
    stateConfig.$inject = ['$stateProvider'];
    
    function stateConfig($stateProvider) {
		$stateProvider
#foreach ($part in $needPart)
#if($part=="manage")    
        .state('$!{appName}/app.${formatEntityName}', {
            url:'/${formatEntityName}/list',
            templateUrl: 'app/${formatEntityName}/${formatEntityName}.html',
			params : {
					page : {
						value : '1',
						squash : true
					}
				},
            resolve: {
                deps: ['$ocLazyLoad',
                    function ($ocLazyLoad) {
                        return $ocLazyLoad$load([
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}.controller.js',
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}.service.js'                          
                        ]);
                    }],
                translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
                    $translatePartialLoader$addPart('${formatEntityName}');
					$translatePartialLoader$addPart('global');
                    return $translate.refresh();
                }]
            }
        })
#elseif($part=="save")         
#if(${hrefMethod}!="openWindow")         
        .state('$!{appName}/app.${formatEntityName}-edit', {
            url: '/${formatEntityName}/edit/{id}',
            templateUrl: 'app/${formatEntityName}/${formatEntityName}-edit.html',
            resolve: {
                deps: ['$ocLazyLoad',
                    function ($ocLazyLoad) {
                        return $ocLazyLoad$load([
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}-edit.controller.js',
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}.service.js'
                        ]);
                    }],
                translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
                    $translatePartialLoader$addPart('${formatEntityName}');
					$translatePartialLoader$addPart('global');
                    return $translate.refresh();
                }]
            }
        })
#else
	 .state('app.${formatEntityName}-edit', {
	        	parent:'$!{appName}/app.${formatEntityName}',
	            url: '/${formatEntityName}/edit/{id}',
	            resolve: {
	                deps: ['$ocLazyLoad',
	                    function ($ocLazyLoad) {
	                        return $ocLazyLoad$load([
	                              '$!{appName}/app/${formatEntityName}/${formatEntityName}-edit.controller.js',
                            	  '$!{appName}/app/${formatEntityName}/${formatEntityName}.service.js'
	                        ]);
	                    }],
	                translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
	                    $translatePartialLoader$addPart('${formatEntityName}');
						$translatePartialLoader$addPart('global');
	                    return $translate.refresh();
	                }]
	            },
	            onEnter: ['$stateParams', '$state', '$uibModal', function($stateParams, $state, $uibModal) {
	                $uibModal$open({
	                    templateUrl: '$!{appName}/app/${formatEntityName}/${formatEntityName}-edit.html',
	                    controller: '${entityName}EditController',
	                    backdrop: 'static'
	                });
	            }]
	            
	        })
#end
#elseif($part=="detail")   
#if(${hrefMethod}!="openWindow")     
        .state('$!{appName}/app.${formatEntityName}-detail', {
            url: '/${formatEntityName}/detail/{id}',
            templateUrl: '$!{appName}/app/${formatEntityName}/${formatEntityName}-detail.html',
            resolve: {
                deps: ['$ocLazyLoad',
                    function ($ocLazyLoad) {
                        return $ocLazyLoad$load([
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}-detail.controller.js',
                            '$!{appName}/app/${formatEntityName}/${formatEntityName}.service.js'
                        ]);
                    }],
                translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
                    $translatePartialLoader$addPart('${formatEntityName}');
					$translatePartialLoader$addPart('global');
                    return $translate.refresh();
                }]
            }
        });
#else
	 .state('$!{appName}/app.${formatEntityName}-detail', {
	        	parent:'$!{appName}/app.${formatEntityName}',
	            url: '/${formatEntityName}/detail/{id}',
	            resolve: {
	                deps: ['$ocLazyLoad',
	                    function ($ocLazyLoad) {
	                        return $ocLazyLoad$load([
	                             '$!{appName}/app/${formatEntityName}/${formatEntityName}-detail.controller.js',
                            	 '$!{appName}/app/${formatEntityName}/${formatEntityName}.service.js'
	                        ]);
	                    }],
	                translatePartialLoader: ['$translate', '$translatePartialLoader', function ($translate, $translatePartialLoader) {
	                    $translatePartialLoader$addPart('${formatEntityName}');
						$translatePartialLoader$addPart('global');
	                    return $translate.refresh();
	                }]
	            },
	            
	            onEnter: ['$stateParams', '$state', '$uibModal', function($stateParams, $state, $uibModal) {
	                $uibModal$open({
	                    templateUrl: '$!{appName}/app/${formatEntityName}/${formatEntityName}-detail.html',
	                    controller: '${entityName}DetailController',
	                    backdrop: 'static'
	                });
	            }]
	            
	        })
#end
#end
#end
    }
})();